# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig

# Created by https://www.gitignore.io/api/windows,visualstudiocode,eclipse
# Edit at https://www.gitignore.io/?templates=windows,visualstudiocode,eclipse

### Eclipse ###
.settings/

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# Java annotation processor (APT)
.factorypath

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/

### Eclipse Patch ###
# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Annotation Processing
.apt_generated

.sts4-cache/

### VisualStudioCode ###
/.vscode/
/bin/

# End of https://www.gitignore.io/api/windows,visualstudiocode,eclipse

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

# Interview Questions from companies
Oracle.java
/target/